body, html {
    height: 100%;
    
    margin: 0;
  }
 
.container {
 	right: 0; 
	text-align: center;
	}

.container .left, .container .center, .container .right { 
	display: inline-block; 
	}

.container .left { 
	float: left; 
	border: 1px solid green;
	}
.container .center {
	float: center;
	border: 1px solid green;
	}
.container .right { 
	float: right; 
	border: 1px solid green;
	}
.clear { 
	clear: both; 
	}

h3{
   text-align: center;
    clear: both;
}
h4{
    clear: both;
    text-align: center;
}
h5{
    clear: both;
    text-align: center;
}
#button{
	clear: both;
	width: auto;
    height: 200px;
    text-align:center;
      
    position: relative;
    
}


h2{
    text-align: center
}
#butt{
    text-align:center;
}
.but{
    background-color: rgb(108, 202, 194);
    padding: 10px;
    
}
#calendar{
    width: 400px;
    height: 200px;
    text-align:center;
    margin: 50px auto; 
    position: relative;
    border: 1px solid silver;
    
}
.search{
    margin: 50px auto; 
    position: relative;
    text-align:left;
    width: 400px;
}